.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

}
.title{
    font-size: 48px;
    margin-bottom: 25px;
}
.previe{
    display: flex;
    justify-content:space-between;
}